//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 12 20:10:46 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "AC18" LEVEL 1;
COMP "led_pen" LOCATE = SITE "P18" LEVEL 1;
COMP "a<0>" LOCATE = SITE "AA10" LEVEL 1;
COMP "a<1>" LOCATE = SITE "AB10" LEVEL 1;
COMP "a<2>" LOCATE = SITE "AA13" LEVEL 1;
COMP "a<3>" LOCATE = SITE "AA12" LEVEL 1;
COMP "b<0>" LOCATE = SITE "Y13" LEVEL 1;
COMP "b<1>" LOCATE = SITE "Y12" LEVEL 1;
COMP "b<2>" LOCATE = SITE "AD11" LEVEL 1;
COMP "reset" LOCATE = SITE "W13" LEVEL 1;
COMP "b<3>" LOCATE = SITE "AD10" LEVEL 1;
COMP "led_clk" LOCATE = SITE "N26" LEVEL 1;
COMP "led_do" LOCATE = SITE "M26" LEVEL 1;
COMP "led_clr" LOCATE = SITE "N24" LEVEL 1;
SCHEMATIC END;

